<!-- <h1>{{data1 | json}}</h1> -->
<ul>
    <li class="list-group-item border border-danger" *ngFor="let element of data1">
        {{element | json}}
    </li>
</ul>

<div>
    <form #datacreate="ngForm" (ngSubmit)="onSubmitCreate(datacreate)">
        <div>
            <label>Name : </label>
            
            <input type="text" class="form-control" name="namejson" [(ngModel)]="nametemplatecreate">

        </div>
        <div>
            <label>Email : </label>
            <input type="text" class="form-control" name="emailjson" [(ngModel)]="emailtemplatecreate">

        </div>
        <div>
            <label>Phone : </label>
            <input type="text" class="form-control" name="phonejson" [(ngModel)]="phonetemplatecreate">

        </div>
        <button type="submit" class="btn btn-primary">Create</button>

    </form>
</div>